*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(2px); */
    height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
.box{
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(247, 244, 244)
}