*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(2px); */
    height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}